{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "accessor-pairs": 1,
        "array-callback-return": 1,
        "class-methods-use-this": 0,
        "block-scoped-var": 1,
        "complexity": 1,
        "consistent-return": 1,
        "curly": 1,
        "default-case": 1,
        "dot-location": 0,
        "dot-notation": 1,
        "eqeqeq": 1,
        "no-case-declarations": 1,
        "no-div-regex": 1,
        "no-else-return": 0,
        "no-eq-null": 1,
        "no-empty-pattern": 1,
        "no-extend-native": 1,
        "no-fallthrough": 1,
        "no-floating-decimal": 1,
        "no-global-assign": 1,
        "no-implicit-coercion": 1,
        "no-implicit-globals": 1,
        "no-iterator": 1,
        "no-labels": 1,
        "no-lone-blocks": 1,
        "no-loop-func": 1,
        "no-magic-numbers": 0,
        "no-multi-str": 1,
        "no-new": 1,
        "no-new-func": 1,
        "no-new-wrappers": 1,
        "no-param-reassign": 1,
        "no-redeclare": 1,
        "no-self-assign": 1,
        "no-self-compare": 1,
        "no-sequences": 1,
        "no-throw-literal": 1,
        "no-unmodified-loop-condition": 1,
        "no-unused-labels": 1,
        "no-useless-call": 1,
        "no-useless-concat": 1,
        "no-useless-escape": 1,
        "no-useless-return": 1,
        "no-warning-comments": 1,
        "yoda": 1,
        "vars-on-top": 1,
        "semi": 1,
        "no-unused-expressions": 1
    }
}