{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "vars-on-top": 1,
        "semi": 1,
        "no-unused-expressions": 1
    }
}