
body {
	background-color:  #1d2e3f;
	font-family: 		 "Motiva Sans", Sans-serif;
	background-image:    url("../asset/background.jpg");
	background-repeat:   no-repeat;
	background-position: center;
	background-size:     cover;
	height:              100vh;
}

nav{
	color:       white;
	margin-top:    20px;
}

#nav-mode{
	font-size: 25px;
}

#root-container {
	margin-top: 50px;
	margin-bottom: 50px;
}

.footer {
	color:        white;
	padding-bottom: 20px;
	a {
		margin: 0 10px;
		color:rgb(202, 200, 200);
	}
}

.hr {
	border-top:    1px solid black; // fallback.
	border-top:    1px solid rgba(0, 0, 0, 0.2);
	border:        0;
	margin-bottom: 20px;
	margin-top:    20px;
}

#menu-title{
	height:        30px;
	color:       white;
	font-size:     30px;
	text-align:    center;
	margin-bottom: 40px;
}

.menu-button{
	display: 	   block;
	width:         100%;
	max-width:     500px;
	height:        70px;
	font-size:     30px;
	margin-bottom: 25px;
	margin-right:  auto;
	margin-left:   auto;
	span{
		padding-right: 20px;
	}
}

#game-timer{
	color:   rgb(143, 143, 143);
	font-size: 20px;
}


#game-question{
	height:        50px;
	color:       white;
	font-size:     50px;
	text-align:    center;
	margin-bottom: 40px;
	span {
		margin-right: 15px;
	}
}

.game-button{
	width:         100%;
	height:        100px;
	margin-bottom: 25px;
	font-size:     45px;
}

.game-star-complete {
	color: rgb(233, 233, 51);
	margin-top:    15px;
	margin-bottom: 15px;
}

.game-star-incomplete {
	color: rgb(226, 211, 128);
	margin-top:    15px;
	margin-bottom: 15px;
}

.game-star-wrong {
	color: rgb(235, 54, 54);
	margin-top:    15px;
	margin-bottom: 15px;
}

#ad-container{
	width:  320px;
	height: 50px;
	margin: auto;
}

.summary-button{
	display: 	   block;
	width:         100%;
	max-width:     500px;
	height:        70px;
	font-size:     30px;
	margin-bottom: 25px;
	margin-right:  auto;
	margin-left:   auto;
	span{
		padding-left: 10px;
	}
}
